<div class="row">
    <div class="col-sm-6">
        <div class="card image">
            <div class="card-body">
               <img src="" alt=""/>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Product Title</h3>
                <div >
                   <app-rating></app-rating>
                  </div>
                  <div class="row">
                      <h4 class="col-sm-6">$1345</h4>
                      <select class="col-sm-3">
                        <option value="null">Select</option>
                      </select>
                  </div>
                    <div class="card-text">
                        is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap in
                    </div>
                <a href="#" class="btn btn-primary">Add To Cart</a>
            </div>
        </div>
    </div>
</div>